body{
    background:#ffffff;   /* nền trắng */
    font-family: Arial;
    color:#222;           /* chữ đậm lại cho dễ đọc */
}


.hero-box{
    height:300px;
    width:350px;
    margin:50px auto;
    border-radius:15px;
    overflow:hidden;
    background:url("https://picsum.photos/800/500") center/cover no-repeat;
    position:relative;
    transition:transform .5s, box-shadow .5s;
}

.hero-box:hover{
    transform:scale(1.05);
    box-shadow:0 20px 40px rgba(0,0,0,.6);
}

.hero-content{
    position:absolute;
    bottom:-100%;
    left:0;
    width:100%;
    color:white;
    background:linear-gradient(transparent,rgba(0,0,0,.9));
    padding:20px;
    transition:bottom .5s;
}

.hero-box:hover .hero-content{
    bottom:0;
}

.hero-content a{
    color:#ffd700;
    text-decoration:none;
    font-weight:bold;
}
